nav{
    background: #1a1a1a;
    width:100%;
    padding: 10px 10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:120px;
}
.user-pic{
    width:40px;
    boder-radius:50%;
    cursor:pointer;
    margin-left: 30px;
}